textarea,
input {
  font-size: 18px;
}
.side-by-side {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.big {
  font-size: 18px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

td {
  height: 20px;
  width: 20px;
  text-align: center;
}

.contain-key table tr:first-child td {
  font-weight: bold;
  background-color: aliceblue;
}
.split-in-2 {
  display: flex;
  gap: 30px;
}
#result p {
  font-size: 20px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

#result h2 {
  margin-bottom: 0px;
}
select {
  font-size: 20px;
}
